.banner {
    background-image: url(https://source.unsplash.com/random/1000x500);
    background-size: cover;
    color: white;
    padding: 120px 0;
}


.container {
    width: 700px;
    margin: 50px auto;
}
